.nav-left {
    overflow: hidden;
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
}

/* Style the links inside the navigation bar */
.nav-left a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.nav-flex{
    display: flex;
    float: none;
    position: static;
    background-color: #0b0f30;
}

header{
    display: block;
    width: 100%;
    margin-top: 0;
}

div{
    display: block;
}

nav{
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a:hover{
    text-decoration:none;

}

body {
    padding-top: 0px;
}
.navbar.navbar-inverse {
    border: none;
}
.navbar .navbar-brand img {
    height: 50px;
}
.nav-fill {
    width: auto;
    white-space: nowrap;
    padding-left: 14px;
    padding-right: 14px;
}

.searchbtn{
    background: #CB4D31 url(https://icons.iconarchive.com/icons/graphicloads/seo-services/32/search-engine-icon.png) no-repeat center center;

}

.col-md-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.item .row{
    margin-left: -15px;
    margin-right: -15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: arial;
}

.author {
    color: grey;
    font-size: 22px;
}

.card p.inline{
    display: inline-block;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: dimgrey;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    display: inline; 
    float: left; 
}

.card button:hover {
    opacity: 0.7;
}

.card span{
    display: inline; 
    float: left; 
    text-align:left; 
    width:50%; 
}

.inline{
    display: inline-block;
}