<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>controller.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListBookServlet</servlet-name>
        <servlet-class>controller.ViewListBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookDetailServlet</servlet-name>
        <servlet-class>controller.ViewBookDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>controller.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCaseController</servlet-name>
        <servlet-class>controller.BookCaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToBookCaseController</servlet-name>
        <servlet-class>controller.AddToBookCaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromBookCaseController</servlet-name>
        <servlet-class>controller.RemoveFromBookCaseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListBookServlet</servlet-name>
        <url-pattern>/listBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookDetailServlet</servlet-name>
        <url-pattern>/bookDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/searchBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCaseController</servlet-name>
        <url-pattern>/bookCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToBookCaseController</servlet-name>
        <url-pattern>/contain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromBookCaseController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
